/* View.css */

.view-wrapper{
	background-color: var(--light-grey);
}


/* Style for the h1 element */
.view-container h1 {
	text-align: center;
	margin-top: 10px;
	padding: 60px;
}

/* Style for the container of user documents */
.view-container {
	display: flex;
	flex-direction: column; /* Change from row to column */
	align-items: center; /* Center items horizontally */
	margin-top: 20px;
}

/* Style for the grid container */
.document-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center; /* Center items horizontally */
}

/* Style for the first column (Add New Document) */
.add-document-box {
	border: 1px solid #ccc;
	color: grey; /* Text color */
	background-color: white; /* Background color */
	padding: 16px;
	margin: 15px;
	width: 200px;
	height: 200px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	text-align: center;
}

/* Style for the "Add New Document" title */
.add-document-box h2 {
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 8px;
	text-align: left; /* Align the title to the left */
}

.add-button {
	border-radius: 50%;
	/* Add other styles as needed */
  }

/* Style for the second column (User Documents) */
.document-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center; /* Center items horizontally */
	flex: 1; /* Take remaining width */
}

/* Style for each document box */
.document-box {
	border: 1px solid #ccc;
	color: grey; /* Text color */
	background-color: white; /* Background color */
	padding: 16px;
	margin: 15px;
	width: 200px;
	height: 200px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	text-align: center;
  }
  

/* Style for the document title */
.document-box strong {
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 8px;
	text-align: left; /* Align the title to the left */
}
